<div class="container-main">
  <div class="container-first-part" #containerFirstPart>
    <span>Página inicial</span>
    <span>{{ '>' }}</span>
    <span>Ofertas Relâmpago</span>
  </div>

  <div class="container-second-part">
    <h1>Encontre as melhores ofertas relâmpago Shopee</h1>
    <span>
      Aproveite para comprar nas ofertas relâmpago Shopee e encontre seleções de produtos especiais
      a cada 2 horas! Além de economizar em diversas categorias como celulares e acessórios, casa e
      decoração, limpeza e mercado e muitas outras, você recebe seus produtos com frete grátis.
      Baixe agora mesmo o aplicativo da Shopee e economize em produtos de qualidade.
    </span>
    <span>
      Todo os dias, você encontra novas seleções de produtos que duram por tempo limitado. Então não
      perca tempo e compre tudo do seu carrinho com preços realmente baixos.
    </span>
  </div>
  <div class="container-second-part">
    <h1>Divirta-se explorando as ofertas</h1>
    <span>
      As Ofertas Relâmpago da Shopee Brasil abrangem uma grande variedade de produtos de todas as
      categorias da nossa plataforma, ou seja, sempre temos alguma coisa para você! Dê uma olhada em
      algumas coisas que temos por aqui: Para quem gosta de tecnologia, veja nossos dispositivos
      eletrônicos como celulares e acessórios, acessórios para veículos e vídeo games.
    </span>
    <span>
      Para uma casa mais linda e organizada, confira nossos itens de decoração, cozinha, caixas
      organizadoras, equipamentos de limpeza e muito mais! Navegue por todo app ou site e descubra
      mais categorias e suas respectivas promoções!
    </span>
  </div>
  <div class="container-second-part">
    <h1>Compre com frete grátis na Shopee Brasil!</h1>
    <span>
      Com nossas promoções e descontos diários, você pode levar tudo o que deseja sem precisar
      gastar muito. Mas além disso, é muito bom fazer compras online pelo app da Shopee porque a
      experiência é incrível. Você faz suas compras em poucos segundos de maneira rápida e simples.
      Basta alguns toques no celular para você escolher seus produtos e fazer pagamentos, até quando
      estiver fora de casa! Ainda tem mais: nós sempre te mandamos cupons por notificação. Fique
      ligado e aproveite descontos que chegarão exclusivamente para você.
    </span>
    <span>
      Confira nosso site diariamente para aproveitar as melhores oportunidades, aproveite os preços
      baixos e ganhe frete grátis. Confira as condições para receber o frete gratuito.
    </span>
  </div>

  <div class="container-third-part">
    <h1>Segurança e praticidade em suas compras</h1>
    <span>Faça suas compras online de forma tranquila e segura.</span>

    <div class="container-ul">
      <span>Confira alguns links que podem ser úteis nas suas compras:</span>

      <ul class="ul">
        <li>Baixar o aplicativo da Shopee Brasil</li>
        <li>Garantia Shopee</li>
        <li>Cupons Diários</li>
        <li>Frete Grátis</li>
        <li>Vendedores Locais</li>
        <li>Blog da Shopee Brasil</li>
      </ul>
    </div>

    <span>
      Na Shopee Brasil você tem acesso aos melhores preços com recomendações exclusivas.
    </span>
  </div>
</div>
