<div class="container-all-info-about-user-who-created-product" *ngIf="productOfferFlashSeller">
  <app-user-created-product-info
    *ngIf="productOfferFlashSeller"
    [productOfferFlashSeller]="productOfferFlashSeller"
    [lastLoginDate]="lastLoginDate"
  ></app-user-created-product-info>

  <div class="container-other-info-about-account-created-product">
    <div class="container-reviews-rate-chat-response-store-date">
      <div class="container-span-inner-reviews container-reviews">
        <span>Avaliações</span>
        <span>
          {{ formatReviews(productOfferFlashSeller.userSellerProductDTO.reviews) }}
        </span>
      </div>

      <div class="container-span-inner-reviews container-chat-response-rate">
        <span class="span-chat-response-rate">Taxa de resposta do chat</span>
        <span>{{ productOfferFlashSeller.userSellerProductDTO.chatResponseRate }}%</span>
      </div>

      <div class="container-span-inner-reviews container-store-shopee">
        <span>Loja Shopee desde</span>
        <span class="span-account-creation-date">{{ accountCreationDate }}</span>
      </div>
    </div>
    <div class="container-reviews-rate-chat-response-store-date">
      <div class="container-span-inner-reviews container-products-and-quantity">
        <span>Produtos</span>
        <span>
          {{ formatProducts(productOfferFlashSeller.userSellerProductDTO.quantityOfProductSold) }}
        </span>
      </div>

      <div class="container-span-inner-reviews container-reponds-to-chat">
        <span class="span-responds-to-chat">Geralmente responde o chat em</span>
        <span>{{ productOfferFlashSeller.userSellerProductDTO.usuallyRespondsToChatIn }}</span>
      </div>

      <div class="container-span-inner-reviews container-followers">
        <span>Seguidores</span>
        <span>{{ formatFollowers(productOfferFlashSeller.userSellerProductDTO.followers) }}</span>
      </div>
    </div>
  </div>
</div>
