.container-all-product-flash-deals{
  display: flex;
  position: relative;

  width: 1200px;
  height: 248px;
}

.container-product-img-flash-info{
  display: flex;
  // gap: 10px;

  overflow-x: hidden;
  overflow-y: hidden;
}

.container-arrow-left{
  position: absolute;
  left: -15px;
  top: 0px;
  width: 80px;
  height: 100%;
  /* display: flex; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;

  >div {
    background-color:  #fff;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px black;
  }

  >div>svg {
    fill: #0000008f;
    width: 14px;
    height: 14px;
  }
}

.container-arrow-right{
  position: absolute;
  right: -30px;
  top: 0px;
  z-index: 1;
  width: 80px;
  // height: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #00000061;
  border-radius: 50%;

  >div {
    background-color:  #fff;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px black;
  }

  >div>svg {
    fill: #0000008f;
    width: 14px;
    height: 14px;
  }
}
