<div
  class="container-product-img-and-price"
  (click)="onClickContainerProductFlashSale()"
  (keydown.enter)="onClickContainerProductFlashSale()"
  tabindex="0"
>
  <div class="container-product-img">
    <div class="container-discount-percentage">
      <svg
        width="10"
        height="16"
        viewBox="0 0 10 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M9.23077 0H4.23077L0 7.82222L3.5 9.14286V16L10 5.68889L6.53846 4.62222L9.23077 0Z"
          fill="url(#paint0_linear_2216_10611)"
        ></path>
        <defs>
          <linearGradient
            id="paint0_linear_2216_10611"
            x1="0"
            y1="0"
            x2="0"
            y2="16"
            gradientUnits="userSpaceOnUse"
          >
            <stop stopColor="#EE4D2D"></stop>
            <stop offset="1" stopColor="#FF7337"></stop>
          </linearGradient>
        </defs>
      </svg>
      <span>-{{ product.discountPercentage }}%</span>
    </div>
    <img src="{{ product.imgProduct }}" alt="{{ product.altValue }}" />

    <img
      *ngIf="product.imgPartBottom"
      class="img-free-shipping"
      src="{{ product.imgPartBottom }}"
      alt="img-free-shipping"
    />
  </div>

  <div class="container-header-and-second-div">
    <h1>R$ {{ price }}</h1>

    <div class="container-popular">
      <div class="container-background-up"></div>
      <span>POPULAR</span>
      <div class="container-background-faint"></div>
    </div>
  </div>
</div>
