<div class="container-rights-shopee">
  <span>© 2024 Shopee. Todos os direitos reservados</span>
  <div class="container-country-and-region">
    <span class="span-country-with-bar">País e região:</span>
    <span class="span-country-with-bar">Singapura</span>
    <span class="span-country-with-bar">Indonésia</span>
    <span class="span-country-with-bar">Tailândia</span>
    <span class="span-country-with-bar">Malásia</span>
    <span class="span-country-with-bar">Vietnã</span>
    <span class="span-country-with-bar">Filipinas</span>
    <span class="span-country-with-bar">Brasil</span>
    <span class="span-country-with-bar">México</span>
    <span class="span-country-with-bar">Colombia</span>
    <span class="span-country-with-bar">Chile</span>
    <span class="span-country-with-bar">Taiwan</span>
  </div>
</div>
