:host {
  display: flex;
  position: absolute;
  right: 0px;
  top: 28px;
  z-index: 5;
}

.container-name-user-floating {
  display: flex;
  flex-direction: column;

  width: 151px;
  background: #fff;
  padding: 10px 10px;
  border: 1px solid #00000024;
  gap: 15px;


  >span {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: black;

    &:hover {
      color: red;
    }
  }
}

.container-arrow-top {
  display: flex;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 15px;
  top: -10px;

  >svg {
    width: 100%;
    height: 100%;
    fill: #fff;
  }
}
