.container-main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 950px;
  height: 100%;
  gap: 10px;

  >h1 {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
  }
}

.container-img-no-order-update{
  display: flex;

  >img {
    width: 100px;
    height: 100px;
  }
}
