<div class="container-first">
  <div class="container-first-images-main">
    <div
      class="button-nav button-nav-left"
      #ContainerButtonNavLeft
      (click)="scrollLeft()"
      (keydown.enter)="scrollLeft()"
      tabindex="0"
      (mouseenter)="onMouseEnterContainerImage()"
    >
      <svg
        enableBackground="new 0 0 13 20"
        viewBox="0 0 13 20"
        role="img"
        className="stardust-icon stardust-icon-arrow-left-bold"
      >
        <path stroke="none" d="m4.2 10l7.9-7.9-2.1-2.2-9 9-1.1 1.1 1.1 1 9 9 2.1-2.1z"></path>
      </svg>
    </div>
    <div
      class="container-first-images"
      #containerFirstImages
      (mouseenter)="onMouseEnterContainerImage()"
      (mouseleave)="onMouseLeaveContainerImage()"
    >
      <div class="container-imgs-top">
        <img
          src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1729435381/img-shopee-body-home/br-11134258-7r98o-m18rnetp75sy9d_xxhdpi_qq5ak8.jpg"
          alt="img-fashion-week-1"
        />
      </div>

      <div class="container-imgs-top">
        <img
          src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1729435368/img-shopee-body-home/br-11134258-7r98o-m1cqymgzfajm6e_xxhdpi_o6tp0q.jpg"
          alt="img-fashion-week-2"
        />
      </div>
      <div class="container-imgs-top">
        <img
          src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1729435376/img-shopee-body-home/br-11134258-7r98o-m1d1kwbempq8be_xxhdpi_rmui7s.jpg"
          alt="img-fashion-week-3"
        />
      </div>
      <div class="container-imgs-top">
        <img
          src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1729435372/img-shopee-body-home/br-11134258-7r98o-m1cragk1xtq8e8_xxhdpi_lpkzkn.jpg"
          alt="img-fashion-week-4"
        />
      </div>
    </div>

    <div class="container-second-images">
      <div class="container-second-img-top">
        <img
          src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1729435385/img-shopee-body-home/br-50009109-f2e0271b220251fbb42ab8d1de067dc1_xhdpi_nyciii.jpg"
          alt="img-come-to-app-1"
        />
      </div>
      <div class="container-second-img-top">
        <img
          src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1729435388/img-shopee-body-home/br-50009109-ec5cfeb670bba21c665499a2351ac580_xhdpi_pj93g3.jpg"
          alt="img-come-to-app-2"
        />
      </div>
    </div>

    <div class="container-quantity-img">
      <div class="container-ball" #containerBallAll></div>
      <div class="container-ball" #containerBallAll></div>
      <div class="container-ball" #containerBallAll></div>
      <div class="container-ball" #containerBallAll></div>
    </div>

    <div
      class="button-nav button-nav-right"
      #ContainerButtonNavRight
      (click)="scrollRight()"
      (keydown.enter)="scrollRight()"
      tabindex="0"
      (mouseenter)="onMouseEnterContainerImage()"
    >
      <svg
        enableBackground="new 0 0 13 21"
        viewBox="0 0 13 21"
        role="img"
        className="stardust-icon stardust-icon-arrow-right-bold"
      >
        <path stroke="none" d="m11.1 9.9l-9-9-2.2 2.2 8 7.9-8 7.9 2.2 2.1 9-9 1-1z"></path>
      </svg>
    </div>
  </div>
</div>
