
:host {
  display: flex;
  width: 1200px;
}

.container-category-itens-bar{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  // border-bottom: 1px solid #00000026;
  // margin-bottom: 50px;
}
