.container-check-complet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 730px;
  gap: 0px;

  >div:nth-of-type(1){
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(238, 77, 45);
    border-radius: 50%;

    width: 70px;
    height: 70px;

    margin-bottom: 20px;
  }

  >h1 {
    margin: 0px;
    font-size: 16px;
    margin-bottom: 10px;
  }

  >span {
    font-size: 14px;
    color: #808080a1;
  }
}
