<app-header-to-all-components valueToSpan="Verificar Identidade"></app-header-to-all-components>
<div class="container-body-verify-password-main">
  <div class="container-body-verify-password">
    <div class="container-svg-shield">
      <app-svg-shield-shopee width="80px" height="80px" fill="orange"></app-svg-shield-shopee>
    </div>
    <h1>Para sua segurança, por favor verifique sua identidade com um dos métodos abaixo</h1>
    <div
      class="container-button-verify"
      (click)="onClickInputVerifyWithPassword()"
      (keydown.enter)="onClickInputVerifyWithPassword()"
      tabindex="0"
    >
      <div class="container-svg-lock">
        <app-svg-lock width="24px" height="24px" fill="red"></app-svg-lock>
      </div>
      <span>Verificar com Senha</span>
    </div>
  </div>
  <div class="container-bottom-two-container">
    <div class="container-why-should-i-verify-my-account">
      <h1>P: Por que devo verificar minha conta?</h1>
      <span>
        R: A segurança da sua conta é importante para nós. O Shopee pede uma verificação adicional
        para que ninguém além de você entre em sua conta.
      </span>
    </div>
    <div class="container-what-can-i-do-not-verify">
      <h1>P: O que posso fazer se não conseguir verificar minha conta?</h1>
      <span>
        R: Entre em contato com o
        <span class="span-link-blue">Atendimento ao Cliente</span> da Shopee para obter assistência
        para fazer login em sua conta.
      </span>
    </div>
  </div>
</div>
<app-footer-login-and-register></app-footer-login-and-register>
