.container-body-verify-password-main{
  margin: 80px 224px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 60px;
  padding-bottom: 60px;
}

.container-body-verify-password{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 440px;
  // height: 327px;
  height: auto;
  border-bottom: 1px solid #37373738;
  padding-bottom: 70px;

  >h1 {
    font-size: 18px;
    font-weight: 500;
    color: rgb(24 24 24 / 69%);
    text-align: center;
    margin-bottom: 80px;
  }
}

.container-button-verify{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  border: 1px solid #37373738;
  border-radius: 3px;
  width: 310px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  line-height: 1;
  cursor: pointer;
  color: #555;

  >span {
    font-size: 14px;
    font-weight: 500;
  }

  &:hover {
    border-color: #37373729;
    color: #555555b3;
  }
}

.container-svg-shield{
  display: flex;
  margin-bottom: 15px;
}

.container-svg-lock{
  display: flex;

  >svg > path {
    fill: #555;
  }
}

.container-bottom-two-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container-why-should-i-verify-my-account{
  width: 630px;

  >h1 {
    font-size: 14px;
    color: rgba(0,0,0,.87);
  }

  >span {
    font-size: 12px;
    color: rgba(0,0,0,.54);
  }
}

.container-what-can-i-do-not-verify{
  width: 630px;

  >h1 {
    font-size: 14px;
    color: rgba(0,0,0,.87);
  }

  >span {
    font-size: 12px;
    color: rgba(0,0,0,.54);
  }
}

.span-link-blue{
  color: #488bf1;
}
