
.container-main {
  width: 950px;
}

.container-header-change-password {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

.container-header-change-password > h1 {
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
}

.container-header-change-password > span {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}

.form {
  /* Estilo adicional para form, se necessário */
}

.table {
  width: 65%;
  user-select: none;
}

.label {
  /* Estilo adicional para label, se necessário */
}

.tbody {
  /* Estilo adicional para tbody, se necessário */
}

.tr {
  /* Estilo adicional para tr, se necessário */
}

.td {
  color: rgba(85, 85, 85, 0.8);
  min-width: 20%;
  overflow: hidden;
  padding-bottom: 54px;
  text-align: right;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
}

.td-second {
  box-sizing: border-box;
  padding-bottom: 15px;
  padding-left: 20px;
  font-weight: 400;
  width: 65%;
}

.td-nome {
  color: rgba(85, 85, 85, 0.8);
  overflow: hidden;
  text-align: right;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  padding-top: 12px;
  display: flex;
  justify-content: flex-end;
}

.container-only-input-name-user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.container-only-input-name-user > input {
  padding: 12px;
  outline: none;
  border: 1px solid #00000026;
  margin-bottom: 7px;
  width: 100%;
}

.container-only-input-name-user > span {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

.container-only-input-name {
  display: flex;
  width: 100%;
  position: relative;
}

.container-only-input-name > input {
  padding: 12px;
  outline: none;
  border: 1px solid #00000026;
  width: 100%;
}

.container-only-input-name > span {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

.container-svg-eyes {
  display: flex;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 13px;
  cursor: pointer;
}

.container-button-confirm {
  display: flex;
  width: 101px;
  height: 40px;
}

.container-button-confirm > button {
  background-color: #ee4d2d;
  opacity: 0.5;
  color: #fff;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 2px;
  cursor: not-allowed;
}

.container-modal-password-change-successfully {
  position: absolute;
  left: 600px;
  top: 450px;
  width: 210px;
  height: 90px;
  background-color: #00000082;
  border-radius: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  padding: 15px 0;
}

// .container-modal-password-change-successfully > svg {
//   width: 20px;
//   height: 20px;
//   color: #4caf50;
// }

.container-modal-password-change-successfully > span {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.span-error {
  color: red;
}
