<div class="container-main">
  <div class="container-header-change-password">
    <h1>Trocar senha</h1>
    <span> Para a segurança da sua conta, não compartilhe sua senha com mais ninguém </span>
  </div>
  <form>
    <table class="table">
      <tbody>
        <tr>
          <td class="td-nome">
            <label for="new-password">Nova senha</label>
          </td>
          <td class="td-second">
            <div class="container-only-input-name-user">
              <div class="container-only-input-name">
                <input
                  type="password"
                  placeholder=""
                  id="input-new-password"
                  maxlength="16"
                  (input)="onChangeNewPasssword($event)"
                  #inputNewPasssword
                />
                <div class="container-svg-eyes">
                  <app-svg-eye-close
                    *ngIf="!showEyesOpenNewPassword"
                    width="22px"
                    height="15px"
                    fill="black"
                    (click)="onClickEyesNewPassword(inputNewPasssword)"
                  ></app-svg-eye-close>
                  <app-svg-eye-open
                    *ngIf="showEyesOpenNewPassword"
                    width="22px"
                    height="15px"
                    fill="black"
                    (click)="onClickEyesNewPassword(inputNewPasssword)"
                  ></app-svg-eye-open>
                </div>
              </div>
            </div>
            <span *ngIf="showErrorPasswordError" class="span-error"
              >A senha deve ter de 8 a 16 caracteres, conter pelo menos um caractere maiúsculo e um
              minúsculo e incluir apenas letras, números ou pontuação comum</span
            >
          </td>
        </tr>
        <tr>
          <td class="td-nome">
            <label for="confirm-password">Confirme a senha</label>
          </td>
          <td class="td-second">
            <div class="container-only-input-name-user">
              <div class="container-only-input-name">
                <input
                  type="password"
                  placeholder=""
                  id="input-confirm-password"
                  (input)="onChangeConfirmPassword($event)"
                  #inputConfirmPassword
                />
                <div class="container-svg-eyes">
                  <app-svg-eye-close
                    *ngIf="!showEyesOpenConfirmPassword"
                    width="22px"
                    height="15px"
                    fill="black"
                    (click)="onClickEyesConfirmPassword(inputConfirmPassword)"
                  ></app-svg-eye-close>
                  <app-svg-eye-open
                    *ngIf="showEyesOpenConfirmPassword"
                    width="22px"
                    height="15px"
                    fill="black"
                    (click)="onClickEyesConfirmPassword(inputConfirmPassword)"
                  ></app-svg-eye-open>
                </div>
              </div>
            </div>
            <span class="span-error" *ngIf="showErrorNewPasswordNotMatchWithConfirmPassword"
              >A senha digitada é diferente da anterior</span
            >
          </td>
        </tr>
        <tr>
          <td class="td-nome">
            <label for="name"></label>
          </td>
          <td class="td-second">
            <div class="container-button-confirm">
              <button
                (click)="onClickButtonConfirm($event)"
                (keydown.enter)="onClickButtonConfirm($event)"
                tabindex="0"
                #buttonConfirm
              >
                Confirmar
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </form>

  <div class="container-modal-password-change-successfully" *ngIf="showPasswordChangeSuccessfully">
    <app-svg-check width="20px" height="20px" fill="#4caf50"></app-svg-check>
    <span>Senha alterada com sucesso</span>
  </div>
</div>
