:host {
  display: flex;
  position: absolute;
  right: 40px;
  top: 28px;
  z-index: 5;
}

.container-download-app-floating {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 249px;
  // position: absolute;
  // left: 320px;
  // top: 20px;

  >img {
    border-radius: 2px;
  }
}

.container-app-store-and-google-play {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  gap: 10px;
}

.container-shop-to-download {
  display: flex;
  width: 80px;
  height: 21px;

  >img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
