<div
  class="container-download-app-floating"
  *ngIf="showContainerDownloadAppFloating"
  (mouseenter)="onMouseEnterDownloadAppFloating()"
  (mouseleave)="onMouseLeaveDownloadAppFloating()"
>
  <img
    src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1734537041/img-download-app/f9c0cf5184864783_z0xwpz.png"
    alt="img-qr-code"
  />

  <div class="container-app-store-and-google-play">
    <div class="container-shop-to-download">
      <img
        src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1734537045/img-download-app/135555214a82d8e1_mmbfga.png"
        alt="img-app-store"
      />
    </div>
    <div class="container-shop-to-download">
      <img
        src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1734537048/img-download-app/1fddd5ee3e2ead84_bcepnc.png"
        alt="img-google-play"
      />
    </div>
  </div>
</div>
