.container-header-nav-first-main {
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
  margin-top: 6px;

  position: relative;
}

.container-header-nav-first {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px;
  /* margin-right: 25px; */
  width: 1200px;
  font-size: 13px;
  font-weight: 300;
}

.container-first-nav {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  line-height: 1;

  >a {
    display: flex;
    text-decoration: none;
    color: #fff;
    /* border-right: 1px solid #c7c7c76e; */
    border-right: 1px solid #c7c7c76e;
    padding-right: 6px;
    cursor: pointer;
    user-select: none;
    font-family: Roboto;

    &:hover {
      color: #c9c9c9;
    }
  }
}

.container-follow-us {
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 5px;

  svg {
    width: 15px;
    height: 15px;
    fill: #fff;
  }

  >a {
    height: 18px;
    width: 18px;
    background-image: url(https://res.cloudinary.com/dyqsqg7pk/image/upload/v1734517718/svg-follow-us/74e7710903007bb7_nqllkh.png);
  }

  a:nth-of-type(1) {
    background-position: 58.064516129032256% 16.129032258064516%;
    background-size: 487.5% 293.75%;
    margin-right: 6px;
  }

  a:nth-of-type(2) {
    background-position: 100% 16.129032258064516%;
    background-size: 487.5% 293.75%;
    margin-right: 6px;
  }

  a:nth-of-type(3) {
    background-position: 91.93548387096774% 100%;
    background-size: 487.5% 293.75%;
  }
}

.container-second-nav {
  display: flex;
  align-items: center;
  gap: 5px;
}

.container-all-svg-second-nav{
  display: flex;
  align-items: center;
  gap: 10px;

  :nth-of-type(2){
    margin-right: 10px;
  }
}

.container-svg-header-second{
  display: flex;
  align-items: center;
  line-height: 1.8;
  gap: 5px;
  cursor: pointer;

  >span {
    font-size: 14px;
  }
}

.container-download-app-floating {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  height: 249px;
  left: 320px;
  top: 20px;

  >img {
    border-radius: 2px;
  }
}

.container-app-store-and-google-play {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  gap: 10px;
}

.container-shop-to-download {
  display: flex;
  width: 80px;
  height: 21px;

  >img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.container-notification-floating {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 400px;
  left: 505px;
  top: 30px;
  background: #fff;
  padding: 10px 10px 0px 10px;
  border: 1px solid #00000024;

  >h1 {
    color: rgb(159 159 159);
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
  }

  >a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.container-arrow-top {
  display: flex;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 20px;
  top: -14px;

  >svg {
    width: 100%;
    height: 100%;
    fill: #fff;
  }
}

.container-notification-all {
  display: flex;
  flex-direction: column;

  >div:nth-of-type(1) {
    margin-bottom: 25px;
  }

  >div:nth-of-type(2) {
    margin-bottom: 25px;
  }

  >div:nth-of-type(3) {
    margin-bottom: 25px;
  }
}

.container-each-notification {
  display: flex;
  justify-content: flex-start;
}

.container-img-notification{
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 5px;

  >img {
    width: 100%;
    height: auto;
  }
}

.container-details-notification{
  display: flex;
  flex-direction: column;
  line-height: 1;
  width: 345px;

  >h1 {
    font-size: 14px;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 9px;
    color: #000000;
  }

  >span {
    font-size: 13px;
    color: #5f5f5f;
  }
}
