<div class="container-header-nav-first-main">
  <div class="container-header-nav-first">
    <div class="container-first-nav">
      <a href="#">Central do Vendedor</a>
      <a href="#">Vender na Shopee</a>
      <a
        href="#"
        #linkdownloadapp
        (mouseenter)="onMouseEnterDownloadApp()"
        (mouseleave)="onMouseLeaveDownloadApp()"
        >Baixe o App</a
      >
      <div class="container-follow-us">
        <span>Siga-nos no</span>
        <a href="#" aria-label="Link para o Instagram"></a>
        <a href="#" aria-label="Link para o Twitter"></a>
        <a href="#" aria-label="Link para o Tiktok"></a>
      </div>
      <app-download-app-floating
        [handleShowContainerChange]="handleShowContainerChange"
        [showContainerDownloadAppFloating]="showContainerDownloadAppFloating"
      >
        ></app-download-app-floating
      >
    </div>
    <div class="container-second-nav">
      <div class="container-all-svg-second-nav">
        <div
          class="container-svg-header-second"
          (mouseenter)="onMouseEnterNotification()"
          (mouseleave)="onMouseLeaveNotification()"
        >
          <app-svg-notification width="15px" height="19px" fill="#fff"></app-svg-notification>
          <span>Notificações</span>
        </div>
        <div class="container-svg-header-second">
          <app-svg-help width="19px" height="19px" fill="#fff"></app-svg-help>
          <span>Ajuda</span>
        </div>
        <div
          class="container-svg-header-second"
          (mouseenter)="onMouseEnterLanguage()"
          (mouseleave)="onMouseLeaveLanguage()"
        >
          <app-svg-language width="19px" height="19px" fill="none"></app-svg-language>
          <span>Português - BR</span>
          <app-svg-arrow width="13px" height="13px" fill="none" rotate="rotate(0)"></app-svg-arrow>
        </div>
        <div
          class="container-svg-header-second"
          (mouseenter)="onMouseEnterNameUser()"
          (mouseleave)="onMouseLeaveNameUser()"
          *ngIf="userLogged"
        >
          <app-svg-user-without-img
            width="16px"
            height="16px"
            fill="none"
          ></app-svg-user-without-img>
          <span>{{ userLogged.name }}</span>
        </div>
        <app-name-user-floating
          [handleShowContainerNameUser]="handleShowContainerNameUser"
          [clearNameUserTimeout]="clearNameUserTimeout"
          [showContainerNameUser]="showContainerNameUser"
        ></app-name-user-floating>
        <app-language-floating
          [handleShowContainerLenguage]="handleShowContainerLenguage"
          [clearLanguageTimeout]="clearLanguageTimeout"
          [showContainerLenguage]="showContainerLenguage"
        ></app-language-floating>
        <app-notification-floating
          [handleShowContainerNotification]="handleShowContainerNotification"
          [clearNotificationTimeout]="clearNotificationTimeout"
          [showContainerNotification]="showContainerNotification"
        >
        </app-notification-floating>

        <div class="container-span-register-enter" *ngIf="!userLoggedIn">
          <button (click)="clickRegisterUser()">Cadastrar</button>
          <span>|</span>
          <button (click)="clickEnterUser()">Enter</button>
        </div>
      </div>
    </div>
  </div>
</div>
