<div class="container-header-nav-first-main">
  <div class="container-header-nav-first">
    <div class="container-first-nav">
      <a href="#">Central do Vendedor</a>
      <a href="#">Vender na Shopee</a>
      <a
        href="#"
        #linkdownloadapp
        (mouseenter)="onMouseEnterDownloadApp()"
        (mouseleave)="onMouseLeaveDownloadApp()"
        >Baixe o App</a
      >
      <div class="container-follow-us">
        <span>Siga-nos no</span>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
      </div>
    </div>
    <div class="container-second-nav">
      <div class="container-all-svg-second-nav">
        <div
          class="container-svg-header-second"
          (mouseenter)="onMouseEnterNotification()"
          (mouseleave)="onMouseLeaveNotification()"
        >
          <app-svg-notification
            width="15px"
            height="19px"
            fill="#fff"
          ></app-svg-notification>
          <span>Notificações</span>
        </div>
        <div class="container-svg-header-second">
          <app-svg-help width="19px" height="19px" fill="#fff"></app-svg-help>
          <span>Ajuda</span>
        </div>
        <div
          class="container-svg-header-second"
          (mouseenter)="onMouseEnterLanguage()"
          (mouseleave)="onMouseLeaveLanguage()"
        >
          <app-svg-language
            width="19px"
            height="19px"
            fill="none"
          ></app-svg-language>
          <span>Português - BR</span>
          <app-svg-arrow
            width="13px"
            height="13px"
            fill="none"
            rotate="rotate(0)"
          ></app-svg-arrow>
        </div>
        <div
          class="container-svg-header-second"
          (mouseenter)="onMouseEnterNameUser()"
          (mouseleave)="onMouseLeaveNameUser()"
        >
          <app-svg-user-without-img
            width="16px"
            height="16px"
            fill="none"
          ></app-svg-user-without-img>
          <span>e_2n0wqb10</span>
        </div>
      </div>
    </div>
  </div>

  <download-app-floating
    [handleShowContainerChange]="handleShowContainerChange"
    [showContainerDownloadAppFloating]="showContainerDownloadAppFloating"
  >
    ></download-app-floating
  >

  <app-notification-floating
    [handleShowContainerNotification]="handleShowContainerNotification"
    [clearNotificationTimeout]="clearNotificationTimeout"
    [showContainerNotification]="showContainerNotification"
  >
  </app-notification-floating>

  <app-language-floating
    [handleShowContainerLenguage]="handleShowContainerLenguage"
    [clearLanguageTimeout]="clearLanguageTimeout"
    [showContainerLenguage]="showContainerLenguage"
  ></app-language-floating>

  <app-name-user-floating
    [handleShowContainerNameUser]="handleShowContainerNameUser"
    [clearNameUserTimeout]="clearNameUserTimeout"
    [showContainerNameUser]="showContainerNameUser"
  ></app-name-user-floating>
</div>
