<div class="container-all-product-hour-main">
  <div
    *ngFor="let el of getAllProductHourProps"
    class="container-product-flash-offer"
    (click)="onClickContainerProductFlashOffer(el.id)"
    (keydown.enter)="onClickContainerProductFlashOffer(el.id)"
    tabindex="0"
  >
    <div class="container-product-hour">
      <img src="{{ el.imgProduct }}" alt="{{ el.altValue }}" />

      <img
        *ngIf="el.imgPartBottom"
        class="img-part-bottom"
        src="{{ el.imgPartBottom }}"
        alt="img-part-bottom"
      />
    </div>
    <div class="container-info-about-product-flash-offer">
      <h1 class="header-title-product-flash">{{ functionTitleFormat(el.title) }}</h1>
      <div class="container-price-original-and-price-with-discount-and-button-buy-now">
        <div class="container-price-original-and-price-with-discount">
          <div class="container-discount-percentage-main">
            <span class="span-price-original">{{ functionForPriceOriginal(el) }}</span>
            <div class="container-discount-percentage">
              <svg
                width="10"
                height="16"
                viewBox="0 0 10 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="svg-lightning"
              >
                <path
                  d="M9.23077 0H4.23077L0 7.82222L3.5 9.14286V16L10 5.68889L6.53846 4.62222L9.23077 0Z"
                  fill="url(#paint0_linear_2216_10611)"
                ></path>
                <defs>
                  <linearGradient
                    id="paint0_linear_2216_10611"
                    x1="0"
                    y1="0"
                    x2="0"
                    y2="16"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stopColor="#EE4D2D"></stop>
                    <stop offset="1" stopColor="#FF7337"></stop>
                  </linearGradient>
                </defs>
              </svg>
              <span class="span-discount-percentage">-{{ el.discountPercentage }}%</span>
            </div>
          </div>

          <div class="container-price-product-main">
            <span>R$</span>
            <span class="span-price-product">{{
              functionForPriceMainWithDiscount(el.priceProduct)
            }}</span>
          </div>
          <div class="container-popular">
            <div class="container-background-up" #containerBackgroundUp></div>
            <span class="span-popular">POPULAR</span>
            <div class="container-background-faint"></div>
          </div>
        </div>

        <div class="container-button-buy-now">
          <span>Compre Agora</span>
        </div>
      </div>
    </div>
  </div>
</div>
