.container-main{
  display: flex;
  justify-content: center;
  margin: 21px 0px;
  position: relative;
}

.container-with-for-all{
  display: flex;
  flex-direction: column;
  margin: 0px 0px;
  width: 1200px;
}
