<div class="container-type-code-verification">
  <div class="container-type-code">
    <div class="container-svg-arrow">
      <svg viewBox="0 0 22 17" class="izC0FH">
        <g
          stroke="none"
          strokeWidth="1"
          fillRule="evenodd"
          transform="translate(-3, -6)"
        >
          <path
            d="M5.78416545,15.2727801 L12.9866648,21.7122915 C13.286114,22.0067577 13.286114,22.4841029 12.9866648,22.7785691 C12.6864297,23.0738103 12.200709,23.0738103 11.9004739,22.7785691 L3.29347136,15.0837018 C3.27067864,15.0651039 3.23845445,15.072853 3.21723364,15.0519304 C3.06240034,14.899273 2.99480814,14.7001208 3.00030983,14.5001937 C2.99480814,14.3002667 3.06240034,14.1003396 3.21723364,13.9476821 C3.23845445,13.9275344 3.2714646,13.9345086 3.29425732,13.9166857 L11.9004739,6.22026848 C12.200709,5.92657717 12.6864297,5.92657717 12.9866648,6.22026848 C13.286114,6.51628453 13.286114,6.99362977 12.9866648,7.288096 L5.78416545,13.7276073 L24.2140442,13.7276073 C24.6478918,13.7276073 25,14.0739926 25,14.5001937 C25,14.9263948 24.6478918,15.2727801 24.2140442,15.2727801 L5.78416545,15.2727801 Z"
          ></path>
        </g>
      </svg>
    </div>
    <span>Digite o código de verificação</span>
  </div>
  <div class="container-your-code-was-send-sms-main">
    <div class="container-your-code-was-send-sms">
      <span>Seu código de verificação foi enviado por mensagem SMS para</span>
      <span class="span-phone">{{ codeSendPhone }}</span>
      <div class="container-input-code">
        <input
          class="input-celphone"
          type="text"
          maxlength="1"
          placeholder="·"
          autocomplete="off"
          [value]="valueInputPhoneOne"
          (click)="clickInputVerificationCode()"
          (input)="changeInputVerificationCode($event, 0)"
          (keydown)="keyDownVerificationCode($event, 0)"
        />
        <input
          class="input-celphone"
          type="text"
          maxlength="1"
          placeholder="·"
          autoComplete="off"
          [value]="valueInputPhoneTwo"
          (click)="clickInputVerificationCode()"
          (input)="changeInputVerificationCode($event, 1)"
          (keydown)="keyDownVerificationCode($event, 1)"
        />
        <input
          class="input-celphone"
          type="text"
          maxlength="1"
          placeholder="·"
          autoComplete="off"
          [value]="valueInputPhoneThree"
          (click)="clickInputVerificationCode()"
          (input)="changeInputVerificationCode($event, 2)"
          (keydown)="keyDownVerificationCode($event, 2)"
        />
        <input
          class="input-celphone"
          type="text"
          maxlength="1"
          placeholder="·"
          autoComplete="off"
          (click)="clickInputVerificationCode()"
          [value]="valueInputPhoneFour"
          (input)="changeInputVerificationCode($event, 3)"
          (keydown)="keyDownVerificationCode($event, 3)"
        />
        <input
          class="input-celphone"
          type="text"
          maxlength="1"
          placeholder="·"
          autoComplete="off"
          [value]="valueInputPhoneFive"
          (click)="clickInputVerificationCode()"
          (input)="changeInputVerificationCode($event, 4)"
          (keydown)="keyDownVerificationCode($event, 4)"
        />
        <input
          class="input-celphone"
          type="text"
          maxlength="1"
          placeholder="·"
          autoComplete="off"
          [value]="valueInputPhoneSix"
          (click)="clickInputVerificationCode()"
          (input)="changeInputVerificationCode($event, 5)"
          (keydown)="keyDownVerificationCode($event, 5)"
        />
      </div>
      <div class="container-split"></div>
      <div class="container-did-not-receive-the-code-and-button-next">
        <div class="container-did-not-receive-the-code">
          <span>Não recebeu o código?</span>
          <span>
            <button (click)="onClickResendCode()">Reenviar</button> ou tente
            <button>Outros métodos</button>
          </span>
        </div>

        <div class="container-button-next">
          <button class="button-next" (click)="clickNextStep()">PRÓXIMO</button>
        </div>

        <!-- {codeTypeIsWrong && (
          <Styled.ContainerCodeIsWrong>
            <Styled.H1>Código digitado errado</Styled.H1>
          </Styled.ContainerCodeIsWrong>
        )}
        {!showSendCodeAgain && (
          <Styled.ContainerTimePass>
            <Styled.H1>{`Aguarde ${timeValue} segundos para reenviar`}</Styled.H1>
          </Styled.ContainerTimePass>
        )}
        <Styled.ContainerButtonNext>
          <Styled.Button ref={refButtonNext} onClick={() => onClickNextStep()}>
            PRÓXIMO
          </Styled.Button>
        </Styled.ContainerButtonNext> -->
      </div>
    </div>
  </div>
</div>
