<app-header-to-all-components valueToSpan="Senha"></app-header-to-all-components>
<div class="container-insert-password-main">
  <div class="container-insert-password">
    <div class="container-top-insert-password" *ngIf="!showErrorPasswordWrong">
      <div class="container-arrow-left">
        <app-svg-arrow-register width="80px" height="20px"></app-svg-arrow-register>
      </div>
      <h1>Insira Sua Senha da Shopee</h1>
    </div>

    <div class="lds-ring" *ngIf="showErrorPasswordWrong">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <!-- showErrorPasswordWrong === false -->
    <div class="container-main-input-and-button" *ngIf="!showErrorPasswordWrong">
      <div class="container-error-password-error" *ngIf="!showErroSistem">
        <app-code-is-wrong-x></app-code-is-wrong-x>
        <span>Erro no sistema, por favor, tente novamente.</span>
      </div>

      <div class="container-error-password-error" *ngIf="showErrorPasswordIsLessThanEightCharacter">
        <app-code-is-wrong-x></app-code-is-wrong-x>
        <span>Erro Senha tem que ter no minimo 9 caractere</span>
      </div>

      <div class="container-error-password-error" *ngIf="objError && !objError.passwordIsCorrect">
        <app-code-is-wrong-x></app-code-is-wrong-x>
        <span>Senha incorreta, por favor, tente novamente.</span>
      </div>

      <div class="container-input-password-button-confirm">
        <div class="container-input-password">
          <input
            placeholder="Insira sua senha atual para verificar"
            type="password"
            #inputPassword
            (input)="onChangeInputEye($event)"
          />
          <div
            class="container-svg-eyes"
            (click)="onClickEyes(inputPassword)"
            (keydown.enter)="onClickEyes(inputPassword)"
            tabindex="0"
          >
            <app-svg-eye-close
              *ngIf="!showEyesOpen"
              width="22px"
              height="15px"
              fill="black"
            ></app-svg-eye-close>
            <app-svg-eye-open
              *ngIf="showEyesOpen"
              width="22px"
              height="15px"
              fill="black"
            ></app-svg-eye-open>
          </div>
        </div>
      </div>
      <div class="container-button-confirm">
        <button (click)="onClickConfirm()" #buttonConfirm>CONFIRMAR</button>
      </div>
    </div>
  </div>
</div>
<app-footer-login-and-register></app-footer-login-and-register>
