.container-insert-password-main{
  margin: 0px 224px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  // padding-bottom: 230px;
  min-height: 600px;
}

// interface ContainerInsertPasswordProps {
//   $showErrorPasswordWrong: boolean | null;
// }

.container-insert-password{
  width: 60%;
  border-bottom: 1px solid rgb(20 20 20 / 18%);
  box-shadow: 0px 4px 5px #0000001f;
  padding-bottom: 70px;
  user-select: none;

  padding: 60px 0px;
  // padding: ${pros => pros.$showErrorPasswordWrong === true && "0px 200px"};

  /* display: flex;
  align-items: center;
  justify-content: center; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-top-insert-password{
  display: flex;
  gap: 100px;
  margin-bottom: 30px;
  width: 100%;
  height: auto;

  >h1 {
    font-size: 20px;
    font-weight: 400;
    color: #000000d9;
    margin: 0px;
  }
}

.container-error-password-error{
  display: flex;
  gap: 10px;
  align-items: center;
  width: 340px;
  border: 1px solid #ff00004a;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  border-radius: 2px;

  >svg {
    width: 16px;
    height: 16px;
  }

  >span {
    font-size: 14px;
  }
}

.container-arrow-left{
  display: flex;
  width: 24px;
  margin-left: 30px;

  >svg {
    fill: rgb(238, 77, 45);
  }
}

.container-main-input-and-button{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 45px;
  width: 340px;
}

.container-input-password-button-confirm{
  /* display: flex;
  justify-content: flex-end; */
  /* margin-left: 50px; */
  // width: 340px;
  width: 100%;
  height: 40px;
  display: flex;
}

.container-input-password{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #5353533d;
  padding: 0px 10px;
  width: 100%;

  >input {
    border: none;
    padding: 10px 0px;
    width: 285px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
  }
}

.container-svg-eyes{
  display: flex;
  width: 20px;
  height: auto;
  cursor: pointer;
}

.container-button-confirm{
  display: flex;
  width: 100%;
  // width: 340px;
  /* margin-left: 50px; */

  >button {
    background-color: rgb(238, 77, 45);
    opacity: 0.7;
    width: 100%;
    border: none;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    cursor: not-allowed;
  }
}

@keyframes ldsRingAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Estilo do contêiner do loader
.lds-ring{
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid currentColor;
    border-radius: 50%;
    animation: ldsRingAnimation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: currentColor transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}
