<div class="container-product-flash-sale-description">
  <h1>
    {{ funcFormatTitleProduct(getFlashSaleProduct.productsOfferFlashDTO.title) }}
  </h1>
  <app-first-rate-avaliation
    *ngIf="getFlashSaleProduct"
    [getFlashSaleProduct]="getFlashSaleProduct"
  ></app-first-rate-avaliation>

  <app-flash-sale-countdown-after-clicked-product
    *ngIf="flashSaleCountdown"
    [hours]="flashSaleCountdown.hours"
    [minutes]="flashSaleCountdown.minutes"
    [seconds]="flashSaleCountdown.seconds"
  ></app-flash-sale-countdown-after-clicked-product>

  <div class="container-prince-product-and-more-info">
    <app-coins-credit-card-price-product
      *ngIf="getFlashSaleProduct"
      [getFlashSaleProduct]="getFlashSaleProduct"
    ></app-coins-credit-card-price-product>

    <div
      class="container-coins-insurance-color-main container-coins-insurance-color-main-five"
      *ngIf="productOfferFlashType"
    >
      <h1 *ngIf="productOfferFlashType[0].optionType === 'Color'" class="header-color">Cor</h1>

      <div class="container-colors-all">
        <div *ngFor="let el of productOfferFlashType">
          <div
            class="container-colors-product-description"
            #containerColorsProductDescription
            *ngIf="el.optionType === 'Color'"
            (click)="onClickWhichColorWasClicked(el, containerColorsProductDescription)"
            (keydown.enter)="onClickWhichColorWasClicked(el, containerColorsProductDescription)"
            tabindex="0"
            (mouseenter)="onMouseEnterColor(el)"
            (mouseleave)="onMouseLeaveColor()"
          >
            <img src="{{ el.imgProduct }}" alt="{{ el.titleImg }}" />
            <span>{{ el.titleImg }}</span>

            <div *ngIf="whichColorWasClicked?.id === el.id">
              <!-- <FontAwesomeIcon icon={faCheck} /> -->
              <app-svg-check></app-svg-check>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="container-coins-insurance-color-main"
      *ngIf="getFlashSaleProduct.productHaveInsurance"
    >
      <h1 class="header-insurance">Seguros</h1>
      <div class="container-insurance-description">
        <span>Seguros disponíveis</span>
        <span>Saber Mais</span>
      </div>
    </div>

    <div class="container-coins-insurance-color-main container-coins-insurance-color-main-seven">
      <h1 class="header-quantity-element">Quantidade</h1>
      <div class="container-quantity-product-description">
        <div
          (click)="onClickDecreaseQuantityOfProduct()"
          (keydown.enter)="onClickDecreaseQuantityOfProduct()"
          tabindex="0"
        >
          <svg
            enableBackground="new 0 0 10 10"
            viewBox="0 0 10 10"
            x="0"
            y="0"
            class="shopee-svg-icon svg-menus"
          >
            <polygon points="4.5 4.5 3.5 4.5 0 4.5 0 5.5 3.5 5.5 4.5 5.5 10 5.5 10 4.5"></polygon>
          </svg>
        </div>
        <input
          type="number"
          value="{{ quantityProduct }}"
          (change)="onChangeInputNumber($event)"
          (blur)="onBlurInputNumber()"
        />
        <div
          (click)="onClickIncreaseQuantityOfProduct()"
          (keydown.enter)="onClickIncreaseQuantityOfProduct()"
          tabindex="0"
        >
          <svg
            enableBackground="new 0 0 10 10"
            viewBox="0 0 10 10"
            x="0"
            y="0"
            class="shopee-svg-icon icon-plus-sign svg-more"
          >
            <polygon
              points="10 4.5 5.5 4.5 5.5 0 4.5 0 4.5 4.5 0 4.5 0 5.5 4.5 5.5 4.5 10 5.5 10 5.5 5.5 10 5.5"
            ></polygon>
          </svg>
        </div>
      </div>

      <div class="container-quantity-parts">
        <span>{{ this.getFlashSaleProduct.quantityPiece }} peças disponíveis</span>
      </div>
    </div>

    <div class="container-all-button">
      <button class="button-add-to-cart">
        <app-cart-buy-svg width="20px" height="20px"></app-cart-buy-svg>
        <span>Adicionar ao carrinho</span>
      </button>
      <button class="button-buy-now">
        <span>Comprar Agora</span>
      </button>
    </div>
  </div>
</div>
