<div class="footer-part-home-page">
  <h1>Faça compras online de qualidade na Shopee Brasil</h1>
  <span
    >A Shopee Brasil é uma empresa de compras online líder de mercado em
    <a class="link-to-country">Singapura</a>, <a class="link-to-country">Malásia</a>,
    <a class="link-to-country">Tailândia</a>, <a class="link-to-country">Taiwan</a>,
    <a class="link-to-country">Indonésia</a>, <a class="link-to-country">Vietnã</a> e
    <a class="link-to-country">Filipinas</a>. Em 2019, a Shopee expandiu os seus serviços de
    comércio eletrônico para o Brasil.
  </span>
  <span
    >Tenha uma experiência de compra online conveniente e perfeita para encontrar produtos a
    qualquer hora e lugar. Com um forte suporte de pagamento e entrega, a Shopee quer que você sinta
    mais facilidade e segurança na hora de comprar na internet. E não é só isso! Oferecemos a
    <a class="link-to-country">Garantia Shopee</a> que faz com que seu dinheiro fique protegido e só
    seja entregue aos vendedores quando você receber seus pedidos.&nbsp;</span
  >
  <span
    >Aproveite nossas promoções diárias e encontre tudo o que quiser com os melhores preços.</span
  >

  <h1>Compre tudo o que você precisa na Shopee Brasil</h1>

  <span
    >Não sabe por onde começar? Confira as nossas buscas populares ou comece a procurar por produtos
    das nossas principais categorias:</span
  >
  <ul>
    <li>Celulares e Dispositivos</li>
  </ul>
  <span
    >Encontre produtos como <a class="link-to-country">Celulares</a>,
    <a class="link-to-country">Capinhas</a>, <a class="link-to-country">Protetores de Tela</a>,
    <a class="link-to-country">Cabos e Carregadores</a> e
    <a class="link-to-country">Lentes</a>.</span
  >
  <ul>
    <li>Acessórios de Moda</li>
  </ul>
  <span
    >Renove seu look diário com produtos como <a class="link-to-country">Óculos</a>,
    <a class="link-to-country">Óculos de Sol</a>,
    <a class="link-to-country">Acessórios de Cabelo</a>, <a class="link-to-country">Cintos</a>,
    <a class="link-to-country">Lenços</a>, <a class="link-to-country">Chapéus</a> e
    <a class="link-to-country">Bonés</a>.
  </span>
  <ul>
    <li>Saúde e Beleza</li>
  </ul>
  <span
    >É importante cuidar do nosso corpo. Encontre produtos para
    <a class="link-to-country">Cuidados Pessoais</a>,
    <a class="link-to-country">Cuidados com a Pele</a>, <a class="link-to-country">Cabelo</a> e
    <a class="link-to-country">Maquiagem</a>.</span
  >
  <ul>
    <li>Roupas Femininas</li>
  </ul>
  <span
    >Desfile por aí com lindos <a class="link-to-country">Vestidos</a>,
    <a class="link-to-country">Blusas</a>, <a class="link-to-country">Camisetas</a>,
    <a class="link-to-country">Regatas</a>, <a class="link-to-country">Casacos</a>,
    <a class="link-to-country">Saias</a>, <a class="link-to-country">Calças</a> e
    <a class="link-to-country">Shorts</a>.
  </span>
  <ul>
    <li>Roupas Masculinas</li>
  </ul>
  <span
    >Fique estiloso no seu dia-a-dia comprando produtos como
    <a class="link-to-country">Camisetas</a>, <a class="link-to-country">Camisas Sociais</a>,
    <a class="link-to-country">Casacos</a>, <a class="link-to-country">Calças</a>,
    <a class="link-to-country">Bermudas</a> e <a class="link-to-country">Tênis</a>. Explore as
    categorias e encontre promoções imperdíveis!
  </span>
  <ul>
    <li>Casa, Cozinha e Decoração</li>
  </ul>
  <span
    >Encontre tudo para deixar a sua casa mais bonita. Explore produtos de
    <a class="link-to-country">Decoração</a>, <a class="link-to-country">Iluminação</a>,
    <a class="link-to-country">Móveis</a>, <a class="link-to-country">Ferramentas</a>,
    <a class="link-to-country">Cozinha</a>, <a class="link-to-country">Banheiro</a>,
    <a class="link-to-country">Materiais de Limpeza</a> e muito mais.
  </span>
  <span
    >Encontre mais ofertas e dicas incríveis dos seus produtos favoritos no
    <a class="link-to-country">Blog da Shopee Brasil</a>!
  </span>

  <h1>Economize com nossas Promoções, Cupons e Frete Grátis*</h1>
  <span class="span-with-margin-bottom"
    >Quais as vantagens de comprar online na Shopee Brasil? Faça suas compras em casa com os
    melhores preços e aproveite para levar o seu produto favorito com Frete Grátis* (* confira todas
    as condições vigentes no link)
  </span>
  <span class="span-with-margin-bottom"
    >Economize com promoções que acontecem todos os dias às 00h, 6h, 10h, 12h, 14h, 16h, 18h, 20h e
    22h e não perca nossas Ofertas Relâmpago, que oferecem descontos incríveis em uma grande
    variedade de produtos.
  </span>
  <span class="span-with-margin-bottom"
    >Fique de olho nas nossas famosas Datas Duplas, onde a Shopee libera cupons ao longo do dia!
  </span>
  <span class="span-with-margin-bottom"
    >Conheça a carteira digital ShopeePay. Com essa ferramenta, você consegue adicionar dinheiro e
    pagar suas compras como saldo disponível na carteira, receber reembolso e transferir dinheiro
    para outras contas sem nenhum custo.
  </span>
  <span
    >Baixe o aplicativo da Shopee Brasil no seu celular e receba novos Cupons de Desconto por
    notificação. Aproveite as vantagens de ser um cliente Shopee!
  </span>

  <div class="trending-searches">
    <h1>Buscas em alta</h1>
    <div>
      <span class="span-border-right">M416 Gel</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Camisa Milan</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Mochila Escolar</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Painel Ripado Autocolante</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Estojo Stitch</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Volante Logitech G27</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Roupa Carnaval</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Minoxidil Kirkland</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Arma de Choque</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Barraca Inflável Grande</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Fantasia Round 6</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Bolsa Universitária</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Adesivo Anti Radar</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Vestido Terracota</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Bolo Stitch</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Capa iPhone 13</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Celular Indestrutível</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Mochila Infantil Rodinha</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Divisória de Ambiente</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Vibrador</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Calça Cintura Baixa Feminina</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">All Star Azul Marinho</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Moletom Oakley</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Moletom Ferrari</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Disco Cortar Granito</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Roupa Erótica Feminina</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Blazer Vinho</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Regata Vasco</span>
      <div class="container-border-right-red"></div>
      <span class="span-border-right">Camisa Polo Reserva Piquet Masculna</span>
      <div class="container-border-right-red"></div>
      <span>Camiseta Asics Feminino</span>
    </div>
  </div>
</div>
