<div class="container-download-app-shopee">
  <h1>BAIXAR APP SHOPEE</h1>
  <div class="container-qr-code-and-app-store-google-play">
    <div class="container-img-qr-code">
      <img
        src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1725014712/img-shopee/27788e45f5489f39ef1e774e9bbedb6f_uhhvnl.png"
        alt="qr-code"
      />
    </div>
    <div class="container-img-app-store-google-play">
      <div class="container-img-only">
        <img
          src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1725014727/img-shopee/2c0f5bda4ce39caff001e7ccec309bc6_otd1fv.png"
          alt="app-store"
        />
      </div>
      <div class="container-img-only">
        <img
          src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1725014743/img-shopee/3b43f8cafbf943868154166639011597_mlucen.png"
          alt="google-play"
        />
      </div>
    </div>
  </div>
</div>
