<app-header-main></app-header-main>
<div
  class="container-product-was-clicked-main"
  *ngIf="getFlashSaleProduct && getFlashSaleProduct.productsOfferFlashDTO"
>
  <div class="container-product-was-clicked">
    <div class="container-product-layers">
      <div *ngFor="let el of productCategories">
        <span>{{ el }}</span>
        <svg
          enableBackground="new 0 0 11 11"
          viewBox="0 0 11 11"
          role="img"
          class="stardust-icon stardust-icon-arrow-down o5T9cj svg-arrow-right"
        >
          <path
            stroke="none"
            d="m11 2.5c0 .1 0 .2-.1.3l-5 6c-.1.1-.3.2-.4.2s-.3-.1-.4-.2l-5-6c-.2-.2-.1-.5.1-.7s.5-.1.7.1l4.6 5.5 4.6-5.5c.2-.2.5-.2.7-.1.1.1.2.3.2.4z"
          ></path>
        </svg>
      </div>
      <h1>
        {{ getFlashSaleProduct.productsOfferFlashDTO.title.substring(0, 50) }}
      </h1>
    </div>

    <app-product-flash-sale-all-info
      [getFlashSaleProduct]="getFlashSaleProduct"
    ></app-product-flash-sale-all-info>

    <app-user-seller-product-offer-flash
      *ngIf="productFlashSaleId && user"
      [user]="user"
      [productFlashSaleId]="productFlashSaleId"
    ></app-user-seller-product-offer-flash>

    <app-product-offer-flash-details
      *ngIf="productFlashSaleId && user"
      [productCategories]="productCategories"
      [user]="user"
      [productFlashSaleId]="productFlashSaleId"
    ></app-product-offer-flash-details>
    <app-product-offer-flash-description
      *ngIf="productFlashSaleId && user"
      [user]="user"
      [productFlashSaleId]="productFlashSaleId"
    ></app-product-offer-flash-description>
    <app-product-flesh-sale-reviews
      *ngIf="productFlashSaleId && user && getFlashSaleProduct"
      [user]="user"
      [productFlashSaleId]="productFlashSaleId"
      [getFlashSaleProduct]="getFlashSaleProduct"
    ></app-product-flesh-sale-reviews>
  </div>
</div>
