<div class="container-main">
  <div class="container-header-main">
    <div class="container-first-header">
      <div class="container-img-coins">
        <img
          src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1729346258/img-shopee-my-coins-shopee/75efaf1b556a8e2fac6a_gbqphv.png"
          alt="img-coins"
        />
      </div>
      <h1>0</h1>
      <div class="container-info-inner-header">
        <div class="container-span-and-svg-question-mark">
          <span>Moedas disponíveis</span>

          <app-svg-question-mark
            width="12px"
            height="12px"
            fill="rgb(133 133 133)"
          ></app-svg-question-mark>
        </div>
        <div class="container-span-and-svg-arrow-right">
          <span>0 moedas que expiram em</span>
          <svg
            enableBackground="new 0 0 11 11"
            viewBox="0 0 11 11"
            x="0"
            y="0"
            class="shopee-svg-icon rEiraU icon-arrow-right"
          >
            <path
              d="m2.5 11c .1 0 .2 0 .3-.1l6-5c .1-.1.2-.3.2-.4s-.1-.3-.2-.4l-6-5c-.2-.2-.5-.1-.7.1s-.1.5.1.7l5.5 4.6-5.5 4.6c-.2.2-.2.5-.1.7.1.1.3.2.4.2z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="container-second-header">
      <h1>Ganhe mais moedas</h1>
      <svg
        enableBackground="new 0 0 11 11"
        viewBox="0 0 11 11"
        x="0"
        y="0"
        class="shopee-svg-icon rEiraU icon-arrow-right"
      >
        <path
          d="m2.5 11c .1 0 .2 0 .3-.1l6-5c .1-.1.2-.3.2-.4s-.1-.3-.2-.4l-6-5c-.2-.2-.5-.1-.7.1s-.1.5.1.7l5.5 4.6-5.5 4.6c-.2.2-.2.5-.1.7.1.1.3.2.4.2z"
        ></path>
      </svg>
    </div>
  </div>

  <div class="container-body-main">
    <div class="container-body">
      <span>Você ainda não tem moedas.</span>
      <button>Como ganhar moedas?</button>
    </div>
  </div>
</div>
