<div class="container-payment">
  <h1>PAGAMENTO</h1>
  <div class="container-img-payment">
    <div class="container-img">
      <img
        src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1724942719/Payment-Shopee/Visa_dof3zu.png"
        alt="visa"
      />
    </div>
    <div class="container-img">
      <img
        src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1724942713/Payment-Shopee/Pix_txx66w.png"
        alt="pix"
      />
    </div>
    <div class="container-img">
      <img
        src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1724942689/Payment-Shopee/MasterCard_vzo0gv.png"
        alt="mastercard"
      />
    </div>
    <div class="container-img">
      <img
        src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1724942682/Payment-Shopee/Hipercard_fom6py.png"
        alt="hipercard"
      />
    </div>
    <div class="container-img">
      <img
        src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1724942675/Payment-Shopee/Elo_ptbvrm.png"
        alt="elo"
      />
    </div>
    <div class="container-img">
      <img
        src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1724942667/Payment-Shopee/Boleto_sm7nnr.png"
        alt="boleto"
      />
    </div>

    <div class="container-img">
      <img
        src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1724942659/Payment-Shopee/AmericanExpress_km1tkn.png"
        alt="AmericanExpress"
      />
    </div>
  </div>
</div>
