<div class="container-main-perfil" *ngIf="this.userObjState">
  <div class="container-perfil-main">
    <div class="container-only-perfil">
      <h1>Meu perfil</h1>
      <span>Gerenciar e proteger sua conta</span>
    </div>

    <div class="container-my-perfil-info">
      <form>
        <table>
          <tbody>
            <tr>
              <td class="td-main">
                <label for="username">Nome de usuário</label>
              </td>
              <td class="td-second">
                <div class="container-only-input-name-user">
                  <input
                    type="text"
                    placeholder="Nome de usuário"
                    class="input-name-user"
                    [value]="this.userObjState.name"
                    (input)="changeInputName($event)"
                  />
                  <span *ngIf="!errorNameUser" class="span-without-error-user"
                    >Nome do usuário pode ser alterado apenas uma vez.</span
                  >
                  <span
                    *ngIf="errorNameUser"
                    class="span-error-message-user-invalid"
                    id="span-error-message-user-invalid"
                    >O nome de usuário deve ter 5 a 30 caracteres com pelo menos uma letra (a-z).
                    Você pode incluir números (0-9), pontos (.), e sublinhados (_).</span
                  >
                </div>
              </td>
            </tr>

            <tr>
              <td class="td-main-second">
                <label for="name">Nome</label>
              </td>
              <td class="td-second">
                <div class="container-only-input-name-user">
                  <input type="text" placeholder="Nome" id="input-name-user" />
                </div>
              </td>
            </tr>

            <tr>
              <td class="td-main-second">
                <label for="email">Email</label>
              </td>
              <td class="td-second">
                <div class="container-link-insert">
                  <span *ngIf="showChangeEmailLink" id="span-email-user">{{
                    emailToShowUser
                  }}</span>
                  <a
                    *ngIf="!showChangeEmailLink"
                    (click)="onClickInsertEmail()"
                    (keydown.enter)="onClickInsertEmail()"
                    tabindex="0"
                    id="link-insert-email"
                    >Inserir</a
                  >
                  <a
                    *ngIf="showChangeEmailLink"
                    (click)="onClickChangeEmail()"
                    (keydown.enter)="onClickChangeEmail()"
                    tabindex="0"
                    id="link-change-email"
                    >Trocar</a
                  >
                </div>
              </td>
            </tr>

            <tr>
              <td class="td-main-second">
                <label for="number-phone">Número de telefone</label>
              </td>
              <td class="td-second">
                <div class="container-link-insert">
                  <div *ngIf="phoneToShowUser.length > 0" id="container-phone-to-show-user">
                    {{ phoneToShowUser }}
                  </div>
                  <!-- <div *ngIf="phoneToShowUser.length <= 0">***********23</div> -->
                  <a
                    *ngIf="phoneToShowUser.length > 0"
                    (click)="onClickChangePhone()"
                    (keydown.enter)="onClickChangePhone()"
                    tabindex="0"
                    id="link-change-phone"
                    >Trocar</a
                  >
                  <a *ngIf="phoneToShowUser.length <= 0" id="link-insert-phone">Inserir</a>
                </div>
              </td>
            </tr>

            <tr>
              <td class="td-main-second">
                <label for="gender">Sexo</label>
              </td>
              <td class="td-second">
                <div class="container-main-inputs">
                  <div class="container-inputs">
                    <div
                      class="input-checkbox"
                      (click)="clickChooseGender('m')"
                      (keydown.enter)="clickChooseGender('m')"
                      tabindex="0"
                      #inputCheckbox
                      id="input-checkbox-gender-m"
                    >
                      <div class="check-box"></div>
                    </div>
                    <span id="span-gender-user-m">masculino</span>
                  </div>
                  <div class="container-inputs">
                    <div
                      class="input-checkbox"
                      (click)="clickChooseGender('f')"
                      (keydown.enter)="clickChooseGender('f')"
                      tabindex="0"
                      #inputCheckbox
                      id="input-checkbox-gender-f"
                    >
                      <div class="check-box"></div>
                    </div>
                    <span id="span-gender-user-f">feminino</span>
                  </div>
                  <div class="container-inputs">
                    <div
                      class="input-checkbox"
                      (click)="clickChooseGender('o')"
                      (keydown.enter)="clickChooseGender('o')"
                      tabindex="0"
                      #inputCheckbox
                      id="input-checkbox-gender-o"
                    >
                      <div class="check-box"></div>
                    </div>
                    <span id="span-gender-user-o">Outros</span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="td-main-second">
                <label for="cpf-birth-date">CPF/Data de nascimento</label>
              </td>
              <td class="td-second">
                <div class="container-cel-phone">
                  <span *ngIf="cpfShowUser.length > 0" id="span-cpf-show-user">{{
                    cpfShowUser
                  }}</span>
                  <span id="span-slash">/</span>
                  <span *ngIf="birthDateShowUser.length > 0" id="span-birth-date-show-user">{{
                    birthDateShowUser
                  }}</span>
                  <a
                    *ngIf="cpf === null"
                    (click)="onClickFillCpfBirthdate()"
                    (keydown.enter)="onClickFillCpfBirthdate()"
                    tabindex="0"
                    id="link-fill-now"
                    >Preencher agora</a
                  >
                  <a
                    *ngIf="cpf !== null"
                    (click)="onClickChangeCpfBirthdate()"
                    (keydown.enter)="onClickChangeCpfBirthdate()"
                    tabindex="0"
                    id="link-change-cpf"
                    >Alterar</a
                  >
                </div>
              </td>
            </tr>
            <tr>
              <td class="td-main-second">
                <label for="#"></label>
              </td>
              <td class="td-second">
                <div class="container-button-save">
                  <button (click)="onClickSavePefil($event)" class="button-save-perfil">
                    Gravar
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <div class="container-select-image">
        <div class="container-img-user-1" *ngIf="!userObjState.userImage && !base64StringImage">
          <app-body-user width="60px" height="60px" color="#c6c6c6"></app-body-user>
        </div>
        <div
          class="container-img-user-2"
          *ngIf="userObjState.userImage && userObjState.userImage.length > 0"
        >
          <img src="{{ userObjState.userImage }}" alt="img-user" id="img-user-profile" />
        </div>
        <div class="container-img-user-2" *ngIf="base64StringImage && base64StringImage.length > 0">
          <img src="{{ base64StringImage }}" alt="img-user" id="img-user-base-64" />
        </div>

        <button (click)="onClickButtonSelectionImage()" id="button-select-img">
          Selecionar a Imagem
        </button>
        <div class="container-span-info-about-select-image">
          <span>Tamanho do arquivo: no máximo 1 MB</span>
          <span>Extensão de arquivo: .JPEG, .PNG</span>
        </div>
      </div>
    </div>
  </div>
</div>
