<div class="container-main-perfil" *ngIf="this.userObjState">
  <div class="container-perfil-main">
    <div class="container-only-perfil">
      <h1>Meu perfil</h1>
      <span>Gerenciar e proteger sua conta</span>
    </div>

    <div class="container-my-perfil-info">
      <form>
        <table>
          <tbody>
            <tr>
              <td class="td-main">
                <label for="username">Nome de usuário</label>
              </td>
              <td class="td-second">
                <div class="container-only-input-name-user">
                  <input
                    type="text"
                    placeholder="Nome de usuário"
                    [value]="this.userObjState.name"
                    (input)="changeInputName($event)"
                  />
                  <span>Nome do usuário pode ser alterado apenas uma vez.</span>
                </div>
              </td>
            </tr>

            <tr>
              <td class="td-main-second">
                <label for="name">Nome</label>
              </td>
              <td class="td-second">
                <div class="container-only-input-name-user">
                  <input type="text" placeholder="Nome" />
                </div>
              </td>
            </tr>

            <tr>
              <td class="td-main-second">
                <label for="name">Email</label>
              </td>
              <td class="td-second">
                <div class="container-link-insert">
                  <span *ngIf="showChangeEmailLink">{{ emailUser }}</span>
                  <a
                    *ngIf="!showChangeEmailLink"
                    (click)="onClickInsertEmail()"
                    (keydown.enter)="onClickInsertEmail()"
                    tabindex="0"
                    >Inserir</a
                  >
                  <a
                    *ngIf="showChangeEmailLink"
                    (click)="onClickChangeEmail()"
                    (keydown.enter)="onClickChangeEmail()"
                    tabindex="0"
                    >Trocar</a
                  >
                </div>
              </td>
            </tr>

            <tr>
              <td class="td-main-second">
                <label for="name">Número de telefone</label>
              </td>
              <td class="td-second">
                <div class="container-link-insert">
                  <div *ngIf="phoneToShowUser.length > 0">{{ phoneToShowUser }}</div>
                  <!-- <div *ngIf="phoneToShowUser.length <= 0">***********23</div> -->
                  <a
                    *ngIf="phoneToShowUser.length > 0"
                    (click)="onClickChangePhone()"
                    (keydown.enter)="onClickChangePhone()"
                    tabindex="0"
                    >Trocar</a
                  >
                  <a *ngIf="phoneToShowUser.length <= 0">Inserir</a>
                </div>
              </td>
            </tr>

            <tr>
              <td class="td-main-second">
                <label for="gender">Sexo</label>
              </td>
              <td class="td-second">
                <div class="container-main-inputs">
                  <div class="container-inputs">
                    <div
                      class="input-checkbox"
                      (click)="clickChooseGender('m')"
                      (keydown.enter)="clickChooseGender('m')"
                      tabindex="0"
                      #inputCheckbox
                    >
                      <div class="check-box"></div>
                    </div>
                    <span>masculino</span>
                  </div>
                  <div class="container-inputs">
                    <div
                      class="input-checkbox"
                      (click)="clickChooseGender('f')"
                      (keydown.enter)="clickChooseGender('f')"
                      tabindex="0"
                      #inputCheckbox
                    >
                      <div class="check-box"></div>
                    </div>
                    <span>feminino</span>
                  </div>
                  <div class="container-inputs">
                    <div
                      class="input-checkbox"
                      (click)="clickChooseGender('o')"
                      (keydown.enter)="clickChooseGender('o')"
                      tabindex="0"
                      #inputCheckbox
                    >
                      <div class="check-box"></div>
                    </div>
                    <span>Outros</span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="td-main-second">
                <label for="gender">CPF/Data de nascimento</label>
              </td>
              <td class="td-second">
                <div class="container-cel-phone">
                  <span *ngIf="cpf !== null">{{ cpf }}</span>
                  <a
                    *ngIf="cpf === null"
                    (click)="onClickFillCpfBirthdate()"
                    (keydown.enter)="onClickFillCpfBirthdate()"
                    tabindex="0"
                    >Preencher agora</a
                  >
                  <a
                    *ngIf="cpf !== null"
                    (click)="onClickFillCpfBirthdate()"
                    (keydown.enter)="onClickFillCpfBirthdate()"
                    tabindex="0"
                    >Alterar</a
                  >
                </div>
              </td>
            </tr>
            <tr>
              <td class="td-main-second">
                <label for="#"></label>
              </td>
              <td class="td-second">
                <div class="container-button-save">
                  <button (click)="onClickSavePefil($event)">Gravar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <div class="container-select-image">
        <div class="container-img-user" *ngIf="!userObjState.userImage && !base64StringImage">
          <app-body-user width="60px" height="60px" color="#c6c6c6"></app-body-user>
        </div>
        <div
          class="container-img-user-2"
          *ngIf="userObjState.userImage && userObjState.userImage.length > 0"
        >
          <img src="{{ userObjState.userImage }}" alt="img-user" />
        </div>
        <div class="container-img-user-2" *ngIf="base64StringImage && base64StringImage.length > 0">
          <img src="{{ base64StringImage }}" alt="img-user" />
        </div>

        <button (click)="onClickButtonSelectionImage()">Selecionar a Imagem</button>
        <div class="container-span-info-about-select-image">
          <span>Tamanho do arquivo: no máximo 1 MB</span>
          <span>Extensão de arquivo: .JPEG, .PNG</span>
        </div>
      </div>
    </div>
  </div>
</div>
