<div class="container-main">
  <div class="container-top-main">
    <div
      class="container-span-name"
      (click)="onClickChangeWhichWasClicked('1')"
      (keydown.enter)="onClickChangeWhichWasClicked('1')"
      tabindex="0"
      #containerSpanName
    >
      <span #spanClassification class="span-from-purchase-all">Tudo</span>
    </div>
    <div
      class="container-span-name"
      (click)="onClickChangeWhichWasClicked('2')"
      (keydown.enter)="onClickChangeWhichWasClicked('2')"
      tabindex="0"
      #containerSpanName
    >
      <span #spanClassification class="span-from-purchase-to-pay">A Pagar</span>
    </div>
    <div
      class="container-span-name"
      (click)="onClickChangeWhichWasClicked('3')"
      (keydown.enter)="onClickChangeWhichWasClicked('3')"
      tabindex="0"
      #containerSpanName
    >
      <span #spanClassification class="span-from-purchase-preparing">Preparando</span>
    </div>
    <div
      class="container-span-name"
      (click)="onClickChangeWhichWasClicked('4')"
      (keydown.enter)="onClickChangeWhichWasClicked('4')"
      tabindex="0"
      #containerSpanName
    >
      <span #spanClassification class="span-from-purchase-on-track">A caminho</span>
    </div>
    <div
      class="container-span-name"
      (click)="onClickChangeWhichWasClicked('5')"
      (keydown.enter)="onClickChangeWhichWasClicked('5')"
      tabindex="0"
      #containerSpanName
    >
      <span #spanClassification class="span-from-purchase-finished">Finalizado</span>
    </div>
    <div
      class="container-span-name"
      (click)="onClickChangeWhichWasClicked('6')"
      (keydown.enter)="onClickChangeWhichWasClicked('6')"
      tabindex="0"
      #containerSpanName
    >
      <span #spanClassification class="span-from-purchase-cancelled">Cancelado</span>
    </div>
    <div
      class="container-span-name"
      (click)="onClickChangeWhichWasClicked('7')"
      (keydown.enter)="onClickChangeWhichWasClicked('7')"
      tabindex="0"
      #containerSpanName
    >
      <span #spanClassification class="span-from-purchase-return-refund">{{
        arrumarDevolucaoReembolso('Devolução/Reembolso')
      }}</span>
    </div>
  </div>

  <div class="container-input-search" *ngIf="whichWasClickedTopLayer === '1'">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path
        d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
      />
    </svg>
    <input type="text" placeholder="Você pode buscar por Nome de Vendedor" />
  </div>
  <div class="container-main">
    <div class="container-img"></div>
    <h1 *ngIf="whichWasClickedTopLayer !== '7'" class="header-no-orders-yet">
      Ainda não há pedidos
    </h1>
    <h1 *ngIf="whichWasClickedTopLayer === '7'">
      Você não tem nenhum caso de Devolução/Reembolso.
    </h1>
  </div>
</div>
