<div class="container-main-header-second-main">
  <div class="container-main-header-second">
    <div class="container-svg-shopee">
      <app-svg-shoope width="160px" height="50px" fill="#fff"></app-svg-shoope>
    </div>
    <div class="container-input-search-shopee">
      <input type="text" placeholder="Buscar na Shopee" />
      <button>
        <app-svg-loupe width="15px" height="15px" fill="#fff"></app-svg-loupe>
      </button>
    </div>
    <div class="container-cart">
      <app-svg-cart width="27px" height="27px" fill="#fff"></app-svg-cart>
      <span>1</span>
    </div>
  </div>
</div>
