<div class="container-main">
  <h1>Cadastrado com sucesso</h1>
  <div class="container-check">
    <app-svg-check width="25px" height="25px" fill="#28c92f"></app-svg-check>
  </div>
  <span class="span-you-create-account">
    Você criou uma conta da Shopee com sucesso com o número
    <span class="span-number">{{ valueNumberPhoneCreate }}</span>
  </span>
  <span class="span-you-will-be-redirected"
    >Você será redirecionado para Shopee em {{ counter }} segundo.</span
  >
  <div class="container-button-back-to-shopee">
    <button (click)="clickBackToShoope()">Voltar para a Shopee</button>
  </div>
</div>
