:host {
  display: flex;
  justify-content: center;
}

.container-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 21%;
  width: 60%;

  >h1 {
    font-size: 17px;
    color: #484343;
    margin-bottom: 30px;
  }

  >span {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
  }
}

.container-check{
  padding: 12px;
  border-radius: 50%;
  background-color: #fff;
  // border: 2px solid #00ff00;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  border: 2px solid rgb(40, 201, 47);

  >svg {
    width: 80%;
    height: 80%;
    color: #00ff00;
  }
}

.span-you-create-account{
  margin-bottom: 20px;
  font-weight: 500;
}

.span-number{
  color: #ff5722;
}

.span-you-will-be-redirected{
  font-weight: 500;
}

.container-button-back-to-shopee{
  width: 100%;
  height: 100%;
  margin-top: 55px;

  >button {
    background-color: rgb(238, 77, 45);
    color: #fff;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    padding: 9px 0px;
    cursor: pointer;

    &:hover {
      background-color: rgb(238 92 63);
    }
  }
}
