<div class="container-main">
  <div class="container-first">
    <h1>Cartão de Crédito</h1>

    <div class="container-button-add-new-card-credit" role="button">
      <app-svg-more width="15px" height="15px" fill="#fff"></app-svg-more>
      <button>Adicionar Novo Cartão de Crédito</button>
    </div>
  </div>
  <div class="you-yet-dont-have-card">Você ainda não tem cartões cadastrados.</div>
  <div class="container-second">
    <h1>Minhas contas bancárias</h1>

    <div class="container-button-add-new-card-credit" role="button">
      <app-svg-more width="15px" height="15px" fill="#fff"></app-svg-more>
      <button>Adicionar nova conta bancária</button>
    </div>
  </div>
  <div class="you-yet-dont-have-card">Você ainda não tem contas bancárias.</div>
</div>
