<div class="container-categories">
  <h1>Categorias</h1>

  <div class="container-layer-first">
    <div class="container-layers">
      <div class="container-each-category">
        <h1>Roupas Femininas</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Vestidos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Blusas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Saias</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Shorts</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Jeans</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Calças e Leggings</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Conjuntos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Lingerie e Roupa Íntima</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Traje para dormir e Pijamas</span>
          <div class="container-border-right-red"></div>

          <span class="span-border-right">Macacões, Macaquinhos e Jardineiras</span>
          <div class="container-border-right-red"></div>

          <span class="span-border-right">Jaquetas, Casacos e Coletes</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Moletons e Suéteres</span>
          <div class="container-border-right-red"></div>

          <span class="span-border-right">Agasalhos e Cardigans</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Roupas de Maternidade</span>
          <div class="container-border-right-red"></div>

          <span class="span-border-right">Meias</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Roupas Tradicionais</span>
          <div class="container-border-right-red"></div>

          <span class="span-border-right">Fantasias e Cosplay</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Vestidos de Casamento</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Tecidos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Sapatos Femininos</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Tênis</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Botas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Saltos e Tamancos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Sandálias e Chinelos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Sapatos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Cuidados com Calçados e Acessórios</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Celulares e Dispositivos</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Celulares</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Tablets</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Acessórios</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Aparelhos Vestíveis</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Walkie Talkies</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Saúde</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Suplementos Alimentares</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Cuidados Pessoais</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Bem-Estar Sexual</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Suprimentos Médicos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Animais Domésticos</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Ração dos Animais Domésticos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Cuidados com Animais Domésticos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Bem-Estar dos Animais Domésticos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Cama e Banheiro</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Acessórios para Animais de Estimação</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Roupas e Acessórios para Animais Domésticos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Câmeras e Drones</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Cuidados com a Câmera</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Acessórios de Lentes</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Câmeras</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Lentes</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Câmeras e Sistemas de Segurança</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Acessórios de Câmera</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Acessórios de Drones</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Drones</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>
    </div>

    <div class="container-layers">
      <div class="container-each-category">
        <h1>Casa e Construção</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Decoração</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Artigos de Cozinha</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Roupas de Cama</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Móveis</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Banheiros</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Louça</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Iluminação</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Organizadores para Casa</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Fragrância da Casa e Aromaterapia</span>
          <div class="container-border-right-red"></div>

          <span class="span-border-right">Artigos de Cuidados com a Casa</span>
          <div class="container-border-right-red"></div>

          <span class="span-border-right">Jardinagem</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Artigos de Festa</span>
          <div class="container-border-right-red"></div>

          <span class="span-border-right">Ferramentas e Melhorias para a Casa</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Segurança</span>
          <div class="container-border-right-red"></div>

          <span class="span-border-right">Artigos Religiosos e de Fengshui</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right"
            >Aquecedores de Mãos, Bolsas de Água Quente e Bolsas de Gelo</span
          >
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Sapatos Masculinos</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Tênis</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Botas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Sandálias e Chinelos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Slip on e Mule</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Mocassins</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Oxfords</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Acessórios e Cuidados para Calçados</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Esportes e Lazer</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Equipamentos Esportivos e Recreação ao Ar Livre</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Vestimentas Esportivas e para o Ar Livre</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Calçados Esportivos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Acessórios Esportivos e Atividades ao Ar Livre</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Áudio</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Reprodutores de Mídia</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Fones de Ouvido, Headphones e Headsets</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Microfones</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Amplificadores e Mixers</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Áudio e Alto Falantes para Casa</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Cabos e Conversores de Áudio e Vídeo</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Papelaria</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Cadernos e Papéis</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Escrita e Correção</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Equipamento Escolar e de Escritório</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Artigos de Arte</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Presentes e Embalagens</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Cartas e Envelopes</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Viagens e Bagagens</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Malas de Viagem</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Bagagens</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Acessórios de Viagem</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>
    </div>

    <div class="container-layers">
      <div class="container-each-category">
        <h1>Roupas Plus Size</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Roupas Esportivas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Roupas Femininas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Roupas Masculinas</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Moda Infantil</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Roupas de Meninas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Roupas de Meninos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Calçados de Menina</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Calçados de Menino</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Acessórios Infantis</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Luvas e Calçados Infantis</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Roupas Infantis</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Eletroportáteis</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Utensílios de Cozinha</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Eletrodomésticos Pequenos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Projetores e Acessórios</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Baterias</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Eletrodomésticos Grandes</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">TVs e Acessórios</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Peças e Circuitos Elétricos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Controles Remoto</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Mãe e Bebê</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Banho e Cuidados com o Corpo</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Acessórios para Grávidas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Brinquedos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Fraldas e Penicos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Berçário</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Coisas Essenciais para Viagens com Bebês</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Saúde na Gravidez</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Segurança do Bebê</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Leite em Pó e Comida para Bebês</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Cuidados com a Saúde do Bebê</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Alimentos Essenciais</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Pacotes e Conjuntos de Presentes</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Computadores e Acessórios</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Equipamentos de Escritório</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Impressoras e Scanners</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Armazenamento de Dados</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Acessórios e Periféricos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Computadores Desktop</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Componentes de Computadores e Notebooks</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Monitores</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Notebooks</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Componentes de Rede</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Teclados e Mouses</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Livros e Revistas</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Livros</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Revistas e Jornais</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>
    </div>
    <div class="container-layers">
      <div class="container-each-category">
        <h1>Beleza</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Maquiagem</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Cuidados com o Cabelo</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Perfumes e Fragrâncias</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Banho e Cuidados com o Corpo</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Cuidados com a Pele</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Utensílios de Beleza</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Cuidados com as Mãos, Pés e Unhas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Cuidados Masculinos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Pacotes e Conjuntos de Beleza</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Acessórios de Moda</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Óculos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Anéis</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Colares</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Bonés, Chapéus e Toucas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Pulseiras e Braceletes</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Brincos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Cintos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Cachecóis e Lenços</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Conjuntos e Pacotes de Acessórios</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Acessórios de Cabelo</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Tornozeleiras</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Luvas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Gravatas e Gravatas Borboleta</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Metais Preciosos de Investimento</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Acessórios Adicionais</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Brinquedos e Hobbies</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Brinquedos e Jogos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Instrumentos Musicais e Acessórios</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Itens Colecionáveis</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Souvenirs</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Álbum de Fotos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">CD, DVD e Bluray</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Discos de Vinil</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Bordado</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Bolsas Femininas</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Bolsas transversais e de ombro</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Bolsas Tote</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Mochilas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Bolsas com alça</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Carteiras</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Malas de Notebook</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Pochetes e Chest Bags</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Clutches & Carteiras</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Acessórios de Bolsas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Alimentos e Bebidas</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Lanches</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Padaria</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Bebidas Alcoólicas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Bebidas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Essenciais para Culinária</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Cereais e Geléias de Café da Manhã</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Conjunto de Presentes e Cestas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Conveniência / Pronto-para-comer</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Laticínios</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Essenciais para Assar</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Alimentos básicos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>
      <div class="container-each-category">
        <h1>Shopee Doações</h1>
      </div>
    </div>
    <div class="container-layers">
      <div class="container-each-category">
        <h1>Roupas Masculinas</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Blusas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Moletons e Suéteres</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Jaquetas, Casacos e Coletes</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Calças</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Jeans</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Roupa íntima</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Bermudas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Agasalhos e Cardigans</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Meias</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Traje para dormir</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Conjuntos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Ternos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Roupas Tradicionais</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Fantasias e Cosplay</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Vestuário Profissional</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Relógios</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Relógios Masculinos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Relógios Femininos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Acessórios de Relógios</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Conjuntos e Pares de Relógios</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Acessórios para Veículos</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Pneus e Rodas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Acessórios Internos para Automóveis</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Acessórios Externos para Automóveis</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Peças de Reposição para Automóveis</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Ferramentas Veiculares</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Limpeza Veicular</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Segurança Veicular</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Peças de Reposição para Motocicletas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Acessórios para Motocicletas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Veículos Pesados e Barcos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Bolsas Masculinas</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Mochilas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Mala de Notebook</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Carteiras</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Pochetes e Chest bags</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Pastas</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Bolsas Transversais e de ombro</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Bolsas de Mão</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Bolsas Tote</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>

      <div class="container-each-category">
        <h1>Jogos e Consoles</h1>
        <div class="container-category-inner">
          <span class="span-border-right">Consoles</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Acessórios de Consoles</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Jogos</span>
          <div class="container-border-right-red"></div>
          <span class="span-border-right">Outros</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  Fazer os test do footer and fazer second footer -->
